<ul class="nav navbar-nav navbar-right " >
    <li class="dropdown">
        <a id="my_profile" href="" class="dropdown-toggle navbar-nav-right-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  >Admin <span class="caret"></span></a>
        <ul class="dropdown-menu" id="profile" style="border-radius: 10px;text-align: center;">
            <li><a href="">系统升级</a></li>
            <li><a href="">下载客户端</a></li>
            <li><a href="">重启</a></li>
            <li><a href="">注销</a></li>

        </ul>
    </li>
</ul>
