<header>
    <nav class="navbar navbar-default" id="default-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.png"  class="img-responsive navbar-nav-icon"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav" id="menu">
                    <li ><a  class="navbar-nav-txt navbar-nav-margin ">路由状态</a></li>
                    <li ><a  class="navbar-nav-txt navbar-nav-txt-active">常用设置</a></li>
                    <li ><a class="navbar-nav-txt ">高级设置</a></li>
                </ul>

                <div ng-include="'js/views/profile.html'"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>

<section id="status-menu" class="container" >
    <div class="row" style="display: -webkit-box;">

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/wifi-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">WIFI设置</span><span class="menu-span">-</span></div>
            </div>

        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block   sub-menu-active">
                <div class="sub-menu-img">
                    <img src="img/hulianwang-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">上网设置</span><span class="menu-span">-</span></div>
            </div>
            <div class="triangle_con" style="left: 38%;"></div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/aqzx-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">安全中心</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/jyw.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">局域网设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/xtzt-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">系统状态</span><span class="menu-span">-</span></div>
            </div>
        </div>


    </div>
</section>

<section class="devices container">
    <div class="devices-block">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4 class="deivce-block-title">上网信息</h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <span style="color: #999; position: relative; top: 10px;">经过检测,你的WAN口无法连通,可能网线没插好</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>连接类型</label>
                <p style="color: #999999" >{{type}}</p>
            </div>
            <div class="col-md-2">
                <label>IP地址</label>
                <p style="color: #999999">{{ip}}</p>
            </div>
            <div class="col-md-2">
                <label>子网掩码</label>
                <p style="color: #999999">{{mask}}</p>
            </div>
            <div class="col-md-2">
                <label>默认网关</label>
                <p style="color: #999999">{{defaultGetaway}}</p>
            </div>
            <div class="col-md-2">
                <label>DNS</label>
                <p style="color: #999999">{{dns}}</p>
            </div>
        </div>
        <div class="row">
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">上网设置</h4>
                    </div>
                </div>



                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input col-md-offset-2">
                                <div class="dropdown" style="z-index: 50;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text" id="type_select_txt"> 静态IP</span><span class="type">上网方式 <a class="icon_def"></a></span></div>
                                    <div class="dropdown-content" style="width:300px;" id="type_select">
                                        <a ng-value="2">PPPOE拨号</a>
                                        <a ng-value="3">静态IP</a>
                                        <a ng-value="1">DHCP</a>
                                        <a ng-value="4" style="display: none;">无线中继</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row" style="display: none;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="radio-inline col-md-offset-3">
                                <input type="radio" name="dns_config" value="1"> 自动配置DNS
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="dns_config" value="2"> 手动配置DNS
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row pppoe_set" style="margin-left: 0px; display: none">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="form-group" >
                                <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                    <span class="form-lable">账号</span>
                                    <input type="text" class="form-control form-item-input " ng-model="pppoe.user" maxlength="5" value="Admin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="form-group" >
                                <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                    <span class="form-lable">密码</span>
                                    <input type="password" class="form-control form-item-input " ng-model="pppoe.pwd" maxlength="5" value="12345">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row static_set" style="margin-left: 0px;">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="form-group" >
                                <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                    <span class="form-lable">IP地址</span>
                                    <input type="text" class="form-control form-item-input " ng-model="static.ip" maxlength="5" value="Admin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="form-group" >
                                <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                    <span class="form-lable">子网掩码</span>
                                    <input type="text" class="form-control form-item-input " ng-model="static.mask"  maxlength="12" value="255.255.255.0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            <div class="form-group" >
                                <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                    <span class="form-lable">网关</span>
                                    <input type="text" class="form-control form-item-input " ng-model="static.gateway"  maxlength="12" value="8.8.8.8">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>






                <!--
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <div class="form-group" >
                                            <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                                <span class="form-lable">DNS1</span>
                                                <input type="text" class="form-control form-item-input "  maxlength="5" value="0.0">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <div class="form-group" style="margin-top: 20px;">
                                            <div class="col-md-7 form-item form-input col-md-offset-2 ">
                                                <span class="form-lable">DNS2</span>
                                                <input type="text" class="form-control form-item-input "  maxlength="5" value="0.0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                -->


                <div class="row">
                    <div class="form-group" style="margin-top: 10px;margin-left: 15px;">
                        <div class="col-md-6 col-md-offset-2" >
                            <span class="my-btn my-btn-primary " style="width: 120px;" ng-click="apply()">应用</span>

                            <span class="my-btn my-btn-default" style="width: 120px;" >取消</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group" style="margin-bottom: 130px;"></div>
                </div>


            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">WAN口速率</h4>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input col-md-offset-2">
                                <div class="dropdown" style="z-index: 50;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">穿墙</span><span class="type">上网方式 <a class="icon_def"></a></span></div>
                                    <div class="dropdown-content" style="width:300px;">
                                        <a>穿墙</a>
                                        <a>标准</a>
                                        <a>节能</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                            <div class="col-md-8 form-item form-input col-md-offset-2">
                                <span class="my-btn my-btn-primary" style="width: 280px;" >保存</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="block" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">MAC地址克隆</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-2" style="text-indent: 10px;">
                        当前使用的MAC地址是<span>34:CE:00:4A:15:FD</span>
                    </div>
                </div>

                <div class="row" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group col-md-offset-2" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input">
                                <div class="dropdown" style="z-index: 100; width: 300px;">
                                    <div class="dropbtn"  ><span class="text">中国大陆</span><span class="type">地区 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width: 300px;" >
                                        <a>香港地区</a>
                                        <a>台湾地区</a>
                                        <a>韩国</a>
                                        <a>欧洲</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-md-offset-2" style="text-indent: 10px;color: #999">
                        当前管理终端的MAC地址，可以手动更改为其他MAC地址
                    </div>
                </div>

                <div class="row">
                    <div class="form-group" style="margin-top: 10px;">
                        <div class="col-md-6 col-md-offset-2" >
                            <span class="my-btn my-btn-primary " style="width: 120px;" >应用</span>

                            <span class="my-btn my-btn-default" style="width: 120px;" >取消</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>


<section class="devices container">
    <div class="devices-block">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h4 class="deivce-block-title">工作切换模式</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                在路由器工作模式和中继工作模式之间进行切换
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12" style="text-align: center;margin-top: 10px;">
                <div class="form-group">
                    <div class="col-md-8 form-item form-input col-md-offset-2">
                        <span class="my-btn my-btn-primary" style="width: 280px;" >保存</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="clearfix"></div>
        </div>
    </div>
</section>
