<header>
    <nav class="navbar navbar-default" id="default-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.png"  class="img-responsive navbar-nav-icon"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li ><a  class="navbar-nav-txt navbar-nav-margin ">路由状态</a></li>
                    <li ><a  class="navbar-nav-txt navbar-nav-txt-active">常用设置</a></li>
                    <li ><a class="navbar-nav-txt ">高级设置</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right " >
                    <li class="dropdown">
                        <a id="my_profile" href="#" class="dropdown-toggle navbar-nav-right-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  >My name <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="border-radius: 10px;text-align: center;">
                            <li style="font-weight: bold;"><a href="#">修改名称</a></li>
                            <li><a href="#">系统升级</a></li>
                            <li><a href="#">下载客户端</a></li>
                            <li><a href="#">重启</a></li>
                            <li><a href="#">注销</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>


<section id="status-menu" class="container" >
    <div class="row" style="display: -webkit-box;">

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/wifi-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">WIFI设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/hulianwang-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">上网设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive ">
                <div class="sub-menu-img">
                    <img src="img/aqzx-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">安全中心</span><span class="menu-span">-</span></div>
            </div>

        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/jyw.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">局域网设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-active">
                <div class="sub-menu-img">
                    <img src="img/xtzt-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">系统状态</span><span class="menu-span">-</span></div>
            </div>
            <div class="triangle_con" style="left: 38%;"></div>
        </div>


    </div>
</section>

<section class="devices container">
    <div class="devices-block">
        <div class="row">
            <div class="col-md-12">
                <h4 class="deivce-block-title">升级检测</h4>
            </div>
        </div>
        <div class="row" style="text-align: center;margin-bottom: 10px;">
            <b>系统版本</b>
        </div>

        <div class="row" style="text-align: center">
            <p class="text_gray">当前版本2.20.26，你的版本是最新的，无需升级</p>
        </div>

        <div class="row" style="text-align: center">
            <span class="my-btn my-btn-primary " style="width: 220px;" >手动升级</span>
        </div>


    </div>
</section>


<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="row" style="text-align: center">
                        <h5 class="deivce-block-title">上传日志</h5>
                    </div>

                    <div class="row" style="text-align: center">
                        <span class="my-btn my-btn-primary " style="width: 220px;" >上传日志</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="row" style="text-align: center">
                        <h5 class="deivce-block-title">设置系统语言</h5>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-offset-3">
                            <div class="form-item form-input">
                                <div class="dropdown" style="z-index: 100; width: 300px;">
                                    <div class="dropbtn"  ><span class="text">简体中文</span><span class="type">系统语言 <a class="icon_def"></a></span></div>
                                    <div class="dropdown-content" style="width: 300px;" >
                                        <a>香港繁体</a>
                                        <a>台湾繁体</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="row" style="text-align: center">
                        <h5 class="deivce-block-title">恢复出厂设置</h5>
                    </div>

                    <div class="row">
                        <div class="row" style="text-align: center">
                            <span class="my-btn my-btn-primary " style="width: 220px;" >立即恢复</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="block" style="margin-top: 15px;">
                <div class="row">
                    <div class="row" style="text-align: center">
                        <h5 class="deivce-block-title">备份与恢复</h5>
                    </div>
                    <div class="row" style="text-align: center;">
                        <div>
                            <p class="text_gray">备份路由器的配置，重新刷机或重置路由器后可以用来恢复。</p>
                        </div>
                        <div class="">
                            <div class="row" style="text-align: center;">
                                <span class="my-btn my-btn-primary " style="width: 150px;" >新建备份</span>
                                <span class="my-btn my-btn-default " style="width: 150px;" >立即恢复</span>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row" >
                    <div class="row" style="text-align: center">
                        <h5 class="deivce-block-title">备份与恢复</h5>
                    </div>
                </div>
                <div class="row" style="text-align: center;margin-top: 10px;">
                    <div>
                        <p class="text_gray">(UTC+8)北京，重庆，香港特别行政区，乌鲁木齐</p>
                    </div>
                </div>
                <div class="row">
                    <div class="row" style="text-align: center;margin-top: 10px;">
                        <span class="my-btn my-btn-default" style="width: 220px;" >更改时区</span>
                    </div>
                </div>
                <div class="row" style="text-align: center;margin-top: 30px;">
                    <div>
                        <p class="text_gray">2017年09月07日13：56：32</p>
                    </div>
                </div>
                <div class="row">
                    <div class="row" style="text-align: center;margin-top: 10px;">
                        <span class="my-btn my-btn-default" style="width: 220px;" >更改时间</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>