<header>
    <nav class="navbar navbar-default" id="default-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.png"  class="img-responsive navbar-nav-icon"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li ><a  class="navbar-nav-txt navbar-nav-margin ">路由状态</a></li>
                    <li ><a  class="navbar-nav-txt navbar-nav-txt-active">常用设置</a></li>
                    <li ><a class="navbar-nav-txt ">高级设置</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right " >
                    <li class="dropdown">
                        <a id="my_profile" href="#" class="dropdown-toggle navbar-nav-right-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  >My name <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="border-radius: 10px;text-align: center;">
                            <li style="font-weight: bold;"><a href="#">修改名称</a></li>
                            <li><a href="#">系统升级</a></li>
                            <li><a href="#">下载客户端</a></li>
                            <li><a href="#">重启</a></li>
                            <li><a href="#">注销</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>


<section id="status-menu" class="container" >
    <div class="row" style="display: -webkit-box;">

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-active">
                <div class="sub-menu-img">
                    <img src="img/wifi-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">WIFI设置</span><span class="menu-span">-</span></div>
            </div>
            <div class="triangle_con" style="left: 38%;"></div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/hulianwang-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">上网设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/aqzx-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">安全中心</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/jyw.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">局域网设置</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-2 col-lg-2 col-sm-2" style="-webkit-box-flex: 2">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/xtzt-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">系统状态</span><span class="menu-span">-</span></div>
            </div>
        </div>


    </div>
</section>

<section class="devices container">
    <div class="devices-block">
        <div class="row">
            <div class="col-md-10">
                <h4 class="deivce-block-title">WIFI双频合一</h4>
            </div>
            <div class="col-md-2">
                <div style="margin-top: 15px">
                    <div class="checkbox checkbox-slider--b-flat checkbox-slider-info">
                        <label>
                            <input type="checkbox" checked=""><span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="" style=" text-indent:50px;">
                <p>开启后，2.4G和5G会使用同一名称，路由器会自动为终端选择最佳WiFi网络，如离路由器较近，会切换至5G网络，反之会切换至2.4G网络。但由于终端设备存在差异，可能存在：自动切换信号源时网络会短暂中断，甚至频繁掉线等问题。</p>
            </div>
        </div>
    </div>
</section>

<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">WIFI</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-10">
                            <label>WIFI开关</label>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-slider--b-flat checkbox-slider-info" style="top: -10px;">
                                <label>
                                    <input type="checkbox" checked=""><span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="form-group">
                            <div class="col-md-7 form-item form-input ">
                                <span class="form-lable">名称</span>
                                <input type="text" class="form-control form-item-input "  maxlength="5" value="0.0">
                            </div>
                            <div class="col-md-5">
                                <input type="checkbox" name="hidden" value="1" >
                                <span>隐藏网络不被发现</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input">
                                <div class="dropdown" style="z-index: 100;width: 300px;">
                                    <div class="dropbtn"  ><span class="text">混合加密 （WPA/WPA2个人版）</span><span class="type">加密方式 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width: 300px;" >
                                        <a>混合加密（WPA/WPA2个人版）</a>
                                        <a>强加密（WPA2个人版）</a>
                                        <a>无加密（允许所有人连接）</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-7 form-item form-input ">
                                <span class="form-lable">密码</span>
                                <span class="icon_pwd">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="password" class="form-control form-item-input"  maxlength="5" value="123456">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input ">
                                <div class="dropdown" style="z-index: 90;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">自动（9）</span><span class="type">无线信号 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width:300px;">
                                        <a>自动（9）</a>
                                        <a>1</a>
                                        <a>2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input ">
                                <div class="dropdown" style="z-index: 80;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">自动（9）</span><span class="type">频段宽带 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width:300px;">
                                        <a>自动（9）</a>
                                        <a>1</a>
                                        <a>2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input ">
                                <div class="dropdown" style="z-index: 70;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">穿墙</span><span class="type">信号强度 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width:300px;">
                                        <a>穿墙</a>
                                        <a>标准</a>
                                        <a>节能</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 20px;">
                        <label style="color: #5DCFE9;">5G选项</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input ">
                                <div class="dropdown" style="z-index: 60;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">自动(9)</span><span class="type">无线信号 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width:300px;">
                                        <a>自动(9)</a>
                                        <a>1</a>
                                        <a>2</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input ">
                                <div class="dropdown" style="z-index: 50;width: 300px;">
                                    <div class="dropbtn " value=""  ><span class="text">穿墙</span><span class="type">信号强度 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width:300px;">
                                        <a>穿墙</a>
                                        <a>标准</a>
                                        <a>节能</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" style="margin-left: 3%;">
                        <span class="my-btn my-btn-primary" style="width: 280px;" >开始测速</span>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">访客WIFI</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-10">
                            <label>WIFI开关</label>
                        </div>

                        <div class="col-md-2">
                            <div class="checkbox checkbox-slider--b-flat checkbox-slider-info" style="top: -10px;">
                                <label>
                                    <input type="checkbox" checked=""><span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="form-group">
                            <div class="col-md-7 form-item form-input ">
                                <span class="form-lable">名称</span>
                                <input type="text" class="form-control form-item-input "  maxlength="5" value="0.0">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input">
                                <div class="dropdown" style="z-index: 100; width: 300px;">
                                    <div class="dropbtn"  ><span class="text">混合加密 （WPA/WPA2个人版）</span><span class="type">加密方式 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width: 300px;" >
                                        <a>混合加密（WPA/WPA2个人版）</a>
                                        <a>强加密（WPA2个人版）</a>
                                        <a>无加密（允许所有人连接）</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 67px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-7 form-item form-input ">
                                <span class="form-lable">密码</span>
                                <span class="icon_pwd">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <input type="password" class="form-control form-item-input"  maxlength="5" value="123456">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="block" style="margin-top: 20px;">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">无线网络所在区域</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" style="text-indent: 20px;">
                        请选择路由器当前工作的国家/地区
                    </div>
                </div>

                <div class="row" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group" style="margin-top: 20px;">
                            <div class="col-md-8 form-item form-input">
                                <div class="dropdown" style="z-index: 100; width: 300px;">
                                    <div class="dropbtn"  ><span class="text">中国大陆</span><span class="type">地区 <a class="icon_def"></a></span></div>

                                    <div class="dropdown-content" style="width: 300px;" >
                                        <a>香港地区</a>
                                        <a>台湾地区</a>
                                        <a>韩国</a>
                                        <a>欧洲</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-bottom: 185px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div> </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    $('.dropdown-content a').click(function(){
        $(this).parent().hide();
        $(this).parents('.dropdown').find('.dropbtn .text').html($(this).text());
    });

    $('.dropbtn').hover(function(){
        $(this).parents('.dropdown').find(".dropdown-content").show();
    },function(){
        //$(this).parents('.dropdown').find(".dropdown-content").hide();
    });
</script>