<header>
    <nav class="navbar navbar-default" id="default-menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo.png"  class="img-responsive navbar-nav-icon"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav" id="menu">
                    <li ><a  class="navbar-nav-txt navbar-nav-margin navbar-nav-txt-active">路由状态</a></li>
                    <li ><a  class="navbar-nav-txt">常用设置</a></li>
                    <li ><a class="navbar-nav-txt">高级设置</a></li>
                </ul>

                <div ng-include="'js/views/profile.html'"></div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>


<section id="status-menu" class="container" >
    <div class="row" >

        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/zhongduanshebei-.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">终端设备</span><span class="menu-span">-</span></div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="center-block sub-menu-block sub-menu-active">
                <div class="sub-menu-img">
                    <img src="img/luyou--.png" class="img-responsive center-block"/>
                </div>
                <div  class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">路由器</span><span class="menu-span">-</span></div>
            </div>
            <div class="triangle_con"></div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-4">
            <div class="center-block sub-menu-block sub-menu-inactive">
                <div class="sub-menu-img">
                    <img src="img/hulianwang-.png" class="img-responsive center-block"/>
                </div>
                <div class="text-center sub-menu-title"><span class="menu-span">-</span><span class="sub-menu-title-txt">互联网</span><span class="menu-span">-</span></div>
            </div>
        </div>

    </div>


</section>

<section class="devices container">
    <div class="devices-block">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h4 class="deivce-block-title">路由器信息</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>路由器型号:</label>
                <p style="color: #999999">微网路由器R3</p>
            </div>
            <div class="col-md-3">
                <label>系统ROM版本:</label>
                <p style="color: #999999">WEIWANG-WIFI稳定版3.3.1</p>
            </div>
            <div class="col-md-3">
                <label>MAC地址:</label>
                <p style="color: #999999">34:CE:00:4A:15FD</p>
            </div>
            <div class="col-md-3">
                <label>SN:</label>
                <p style="color: #999999">172.16.1.1</p>
            </div>
        </div>
        <div class="row">
            <div class="clearfix"></div>
        </div>
    </div>
</section>

<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">网络连接设备</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12">
                            <label>实时下行流量:</label>
                            <label class="label_upload">80KB/S </label>
                            <label>| &nbsp; 实时上行流量：</label>
                            <label class="label_download">200KB/S </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12 label_gray">
                            <label>宽带:</label>
                            <label >80KB/S </label>
                            <label>| &nbsp; 最快下载：</label>
                            <label>200KB/S </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">终端流量统计</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12">
                            <label>总下载量:</label>
                            <label class="label_upload">80KB/S </label>
                            <label>| &nbsp; 总上传量：</label>
                            <label class="label_download">43.13MB </label>
                            <label>&nbsp; | &nbsp; 累计终端：<span style="color: red">9</span></label>
                            <label class="label_gray">&nbsp;&nbsp;当前终端 <span>1</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="fan"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="devices container">
    <div class="row">
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">当前CPU状态</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12">
                            <label>当前CPU负载:</label>
                            <label class="label_upload">2.00% </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12 label_gray">
                            <label>CPU核心数:</label>
                            <label >1 </label>
                            <label>| &nbsp; 核心频率：</label>
                            <label>580MHz </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="cpu"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                        <h4 class="deivce-block-title">当前内存状态</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                        <div class="col-md-12">
                            <label>内存容量:</label>
                            <label class="label_upload">128MB</label>
                            <label>| &nbsp; 内存类型：<span>DDR2</span></label>
                            <label>| &nbsp; 内存频率：<span>800MHz</span></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 25px;">
                        <div id="memory"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
